.HowIt{
    width: 95% !important;
    padding-top: 72px !important;
    display: flex;
    flex-wrap: wrap;
    @media(max-width: 920px){
        gap: 70px;
    }
    &__items{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 26px;
        width: 100%;
        @media (max-width: 920px){
            flex-wrap: wrap;
        }
    }
}