.HowIt {
    width: 95% !important;
    padding-top: 72px !important;
    display: flex;
    flex-wrap: wrap;

    gap: 30px;

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 26px;
        width: 100%;

        @media (max-width: 1300px) {
            flex-wrap: wrap;
        }
    }
}